/* Material Symbols Settings */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

/* Make only the NAV logo SVG smaller */
header svg {
  width: 28px;
  height: 28px;
}

/* Keep other SVGs unchanged */
svg {
  width: auto;
  height: auto;
}

